* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
}


/*HEADER SECTION STYLE*/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247, 50, 50);
}

.header_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: white;
  -webkit-text-stroke: 1px #000000;
  margin: 10px;
}

header p {
  margin: 10px;
}

.pokeball_png {
  width: 50px;
  height: 50px;
}

/*SEARCH SECTION STYLE*/

.search_section {
  background-color: rgb(247, 50, 50);
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_container {
  display: flex; /* Added */
  align-items: center; /* Added */
}

.search_input {
  height: 40px;
  width: 180px;
  border-radius: 10px 0 0 10px;
  margin: 0;
  padding: 10px;
}

.search_button {
  height: 40px;
  width: 40px;
  border-radius: 0 10px 10px 0;
  margin: 0;
  padding: 0;
}

.ash_pic {
  height: 110px;
}

/* POKEMON LIST SECTION STYLE */

.pokemon_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Use auto-fit instead of auto-fill */
  gap: 20px;
  padding: 20px;
  max-width: 960px; /* Set a max-width to limit the width of the grid */
  margin: 0 auto; /* Center the grid horizontally */
}

@media (max-width: 767px) {
  /* Adjust grid layout for smaller screens */
  .pokemon_list {
    grid-template-columns: repeat(1, minmax(120px, 1fr)); /* Two columns per row on smaller screens */
  }

  .search_section {
    flex-direction: column;
  }
}

.pokemon-card {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.pokemon-img {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}

.no-pokemon-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #555; /* Adjust color as needed */
  font-size: 18px; /* Adjust font size as needed */
  font-weight: bold;
}

/* Custom styles for Pokémon details */

.pokemon-details {
  text-align: center;
}

.pokemon-stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stat-item {
  background-color: white;
  color: #333;
  font-size: 16px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid black;
}

.back-button {
  color: #333;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 50px;
}

.back-button:hover {
  background-color: #ffd633;
}

@media (max-width: 767px) {
  .pokemon-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .pokemon-stats-container {
    text-align: center;
  }
  
  .stat-item {
    font-size: 14px;
    padding: 8px;
    margin: 3px;
  }
}


